/* Global resets and standard font */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid purple; */
}

body {
  font-family: Roboto, sans-serif;
}

/* Header Styles */

header {
  color: #f9faf8;
  background-color: #1f2937;
  display: flex;
  align-items: center;
  padding: 20px 50px;
  justify-content: space-between;
  border: 1px solid #e5e7eb;
}

nav {
  display: flex;
  gap: 1rem;
}

nav a:hover {
  color: aquamarine;
  cursor: pointer;
}

/* Hero Section Styles */

.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 60px 50px;
}

.hero-text {
  max-width: 450px;
}

.hero-text h2 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  padding-bottom: 20px;
}

.hero-text p {
  color: #e5e7eb;
  font-size: 18px;
  padding-bottom: 20px;
}

.hero-text button {
  background-color: #3b82f6;
  color: #f9faf8;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #2563eb;
}

.hero-text button:active {
  background-color: #1d4ed8;
}

.hero-image img {
  width: 300px;
  border: 1px solid #f9faf8;
}

/* Information Cards Styles */

.information {
  background-color: #f9faf8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px;
  border: 1px solid #e5e7eb;
}

.information h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}

.information-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 20px;
}

.information-card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.information-card img {
  width: 250px;
  object-fit: cover;
  border: none;
  border-radius: 10px;
}

.information-card * {
  padding-bottom: 20px;
}

/* Quote Section Styles */

.quote {
  background-color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 50px;
  border: 1px solid #e5e7eb;
}

.quote-box {
  max-width: 800px;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.quote-text {
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
}

.quote-author {
  color: #1f2937;
  font-size: 18px;
  font-weight: 900;
  text-align: right;
}

/* Call To Action Styles */

.call-to-action {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 50px;
  border: 1px solid #e5e7eb;
}

.call-to-action-box {
  display: flex;
  flex-direction: row;
  gap: 111px;
  background-color: #3882f6;
  padding: 50px 100px;
  border: none;
  border-radius: 10px;
}

.call-to-action-text * {
  padding-bottom: 5px;
}

.call-to-action-text h4 {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

.call-to-action-text p {
  color: #f9faf8;
  font-size: 18px;
  font-weight: 300;
}

.call-to-action button {
  background-color: #f9faf8;
  color: #1f2937;
  padding: 5px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 800;
}

.call-to-action button:hover {
  background-color: #e5e7eb;
}

.call-to-action button:active {
  background-color: #d1d5db;
}

/* Footer Styles */

footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  border: 1px solid #e5e7eb;
  color: #f9faf8;
}
